
*
{
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #000000;
    line-height: 1.9;
  
}
 
.container{
    width: 100% !important;
}
.container h1 {
    font-family: 'Raleway';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 50px;
}
hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.thumbnail {
    padding: initial !important;
    margin-bottom:6px;
    display:flex;
    flex-wrap: wrap;
    border: initial !important;
}
.modal-dialog {
    top: 50px;
    
}
.close{
    font-size: 25px !important;
}
.modal-header {
    padding: 8px 15px 10px 15px !important;
    border-top: 1px solid #e5e5e5 !important;
    border-bottom: initial !important;
}
.modal-body{
    padding: 8px !important;
}
img{
    border-radius: 8px !important;
}
.blur {
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.myFooter {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background: #000;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    max-width: 100%;
    margin-top: auto;
}


.footer-icons {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 15px;
}

.footer-bottom {
    text-align: center;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
a:visited, a:focus{
    color: white;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.switcher {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: fit-content;
    padding: 14px 20px;
  }
  
  .switcher li {
    border-radius: 4px;
    padding: 2px 12px;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 18px;
    user-select: none;
    margin-bottom: 8px;
    margin-right: 4px;
    border-radius: 20px;
	transition: width 0.4s;
    border: 2px solid #9797ff;

  }
  .width{
    color: aliceblue;
  }
  
  .switcher li.active {
    background-color: rgb(218, 41, 28);
    color: aliceblue;
    border: 2px solid black;
  }


@-webkit-keyframes fade-in-out {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px) opacity(0%);
    }
    30% {
        letter-spacing: 0;
        filter: blur(0) opacity(1);
    }
    70% {
        letter-spacing: 0;
        filter: blur(0) opacity(1);
    }
    100% {
        letter-spacing: -0.5em;
        filter: blur(12px) opacity(0%);
    }
}

.blurOut {
    color: #0a4090;
    text-shadow: 2px 2px 5px #0a5890;
    font-family: 'Lemonada', cursive;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    animation-name: fade-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.top-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top-title{
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.kebab-imgs{
    margin-top: 80px;
}
 .top-title-text{
     display: flex; 
    flex-direction: row;
     align-items: center;
     font-weight: bolder;
     color: white
 }

 .logo{
    width: 110px;
    display: block !important;
    }
.grill, .phone{
    color: white;
    font-size: 20px;
}
 
.phone-icon{
    width: 25px !important;
    height: 25px !important;
    display: block !important;
    margin-right: 8px;
    margin-left: -8px;
 
 
}
 
.phone-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -16px;
 
}
